<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PizzaNetClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MySecureBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>

        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myClientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="PizzaNetClient.CustomX509Validator,PizzaNetClient" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://localhost:44300/PizzaService.svc" binding="wsHttpBinding" bindingConfiguration="MySecureBinding" contract="PizzaNetCommon.Services.IPizzaService" name="PizzaServiceSecure" behaviorConfiguration="myClientBehavior">
        <identity>
          <dns value="MyServerCert" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PizzaNetClient.Properties.Settings>
      <setting name="UsesValidCertificate" serializeAs="String">
        <value>False</value>
      </setting>
    </PizzaNetClient.Properties.Settings>
  </applicationSettings>
</configuration>