@model IEnumerable<PizzaNetCommon.DTOs.OrderDTO>

@{
    ViewBag.Title = "My Orders";
}

@foreach (var item in Model)
{
    string stateClass = (item.State.StateValue == PizzaNetCommon.DTOs.StateDTO.NEW)
        ? "order-new" :
        (item.State.StateValue == PizzaNetCommon.DTOs.StateDTO.IN_REALISATION)
        ? "order-in-realization" : "order-done";
    
    <div class="order-details-container @stateClass" data-order-id="@item.OrderID">
        <span>@item.Date</span>
    </div>
}